* {
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-container {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn-container {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn-circle {
  background-color: #fff;
}

.btn-square {
  background-color: #fff;
}

.btn-color {
  background-color: #fcf6d1;
}

/* .shape {
  width: 250px;
  height: 250px;
} */

.circle {
  background-color: #fff;
  border: 1px solid #000;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.square {
  background-color: #fff;
  border: 1px solid #000;
  width: 250px;
  height: 250px;
}

.hide {
  display: none;
}

.error {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: red;
}
